@use '../abstracts/variables';

@mixin regular-font {
    @media screen and (max-width: $breakpoints-tablet) {
        font-size: $primary-font-size - 4px;

        footer {
            p {
                font-size: 0.8 * ($primary-font-size - 4px);
            }
        }
    }
    @media screen and (min-width: $breakpoints-tablet) {
        font-size: $primary-font-size;

        footer {
            p {
                font-size: 0.8 * $primary-font-size;
            }
        }
    }

    font-family: $font-family;
    font-weight: 300;
    color: $primary-color;
}

.main {
    @include regular-font();
    .title {
        font-size: 2.5em;
        font-weight: 300;

        &-bold {
            font-weight: 700;
        }
    }

    h2, h3 {
        font-weight: lighter;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    h3:before {
        position: absolute;
        left: 0;
        margin-top: 1.4em;
        height: 0;
        width: 3em;
        content: '';
        border-bottom: 1.2px dotted black;
      }

    .h2a, .h3a {
        font-size: 1em;
        font-weight: lighter;
    }

    a {
        @include regular-font();
        text-decoration: none;
    }
}

.navbar {
    a {
        @include regular-font();
        text-decoration: none;
    }
}

a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.project__desc {
    &__tools, &__skills {
        span {
            font-weight: bolder;
        }
    }
}

footer {
    p{
        @include regular-font();
        color: $footer-text;
        text-align: center;
    }
}

.bold {
    font-weight: bolder;
}

.contact-card {
    font-weight: bolder;
}

.item a:hover,
.item a:hover::after, 
.contact-card a:hover, 
.contact-card a:hover::after {
    color: #ccc;
    transition: 0.3s ease color;
}