.contact-card {
    padding-top: 20vh;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    column-gap: 3em;
    width: 100%;
}