$primary-color: black;
$secondary-color: #4386EC;

$footer-color: #414141;
$footer-text: white;
$footer-size-ratio: 0.75;

$font-family: "Roboto", sans-serif;
$primary-font-size: 16px;


$main-width: 93vw;
$main-max-width: 50em;
$main__contact-max-width: 86em;

$breakpoints-tablet: 768px;