$primary-color: black;
$secondary-color: #4386EC;
$footer-color: #414141;
$footer-text: white;

$font-family: "Roboto", sans-serif;

$main-width: 93vw;
$main-max-width: 50em;

$breakpoints-tablet: 768px;